<% include ./partials/header %>

<div class="row">
    <h1 class="signupin" style="text-align: center">Login</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>

            <div class="form-group">
                    <button class="btn btn-danger btn-block" href="/forgot">Forgot your password ?</button>
                </div>

            <div class="form-group">
            <button class="btn btn-info  btn-block backbuttoncolor" href="/campgrounds">Go Back</button>
        </div>
            
        </form>

        <div class="row">
            <div>
            

        
        </div>
        </div>

    </div>
</div>

<% include ./partials/footer %>