/*PERSONAL CSS*/

@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url(https://fonts.googleapis.com/css?family=Raleway:700);

.thumbnail img {
    width: 100%;

}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    font-size: 19px
}

.delete-form {
    display: inline;
}

/* Google Maps */

#map {
    height: 400px;
    width: 100%;
}

.indexImage {
    min-height: 195px;
    max-height: 195px;
}

#pagination {
   margin: 10px auto;
}

body {
background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: repeat-y;

}

.jumbotron {
    background-color: #f5f5f52e;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2), 0px 8px 20px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.1);
    
}

.jumbotron .container {
    max-width: 100%;
    color: white;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2), 0px 8px 20px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    background-color: #f5f5f52e;
    border: 6px solid #f5f5f500;
}

.thumbnail .caption {
    padding: 9px;
    color: white;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2), 0px 8px 20px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail .caption-full {
    padding: 9px;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}

.navbar {
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #f5f5f52e;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2), 0px 8px 20px rgba(0, 0, 0, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-brand {
    color: #eee;
}

.well {
    margin-top:20px;
    background-color: #f5f5f52e
}
#commentText {
    color:white;
}

.backbuttoncolor {
    color:white
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    border: 2px solid #f5f5f52e;
    border-radius: 7px;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}

.signupin {
    color: white
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #f5f5f5cc;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.campDescription {
    padding: 10px;
    border: 2px solid #ffffff1c;
    border-radius: 10px;
    color: white;
}





.label {
    font-size: 85%;
}

.labelColor {
    color: white;
}

#left {
    float: left;
}

.campNameColor{
    color: black
}

h1,h2,h3,h4,h5,h6,p {
    user-select: none;
}

/*Added transition on camp images when hovered*/


div.thumbnail i {
    transform:translate(-50%,-50%)  scale(0);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-blend-mode: difference;
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
  

div.thumbnail:hover img {
opacity: 0.5;
filter: grayscale(100%)
}

div.thumbnail * {
    transition: all 0.4s ease-in-out;
}

div.thumbnail:hover i {
    transform: translate(-50%,-90%) scale(2);
    opacity: 0.7;
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

#jiggle-log-in.btn {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px hsla(0, 0%, 0%, .1);
    color: hsla(255, 255%, 255%, 1);
    text-align: center;
    background: rgba(218, 218, 218, 0.219);
    cursor: pointer;
    margin: 2% 2% 2% 0;
    overflow: hidden;
  }
  
  #jiggle-log-in.anim {
    animation: jiggle 2s ease-in infinite;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
    overflow: hidden;
  }
  

  #jiggle-sign-up.btn {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px hsla(0, 0%, 0%, .1);
    color: hsla(255, 255%, 255%, 1);
    text-align: center;
    background: rgba(218, 218, 218, 0.219);
    cursor: pointer;
    margin-right: 3%;
    margin-left: 3%;
    overflow: hidden;
  }
  
  #jiggle-sign-up.anim {
    animation: jiggle 3s ease-in infinite;
  }
  
  @keyframes jiggle {
    48%, 62% {
      transform: scale(1.0, 1.0)
    }
    50% {
      transform: scale(1.1, 0.9)
    }
    56% {
      transform: scale(0.9, 1.1) translate(0, -5px)
    }
    59% {
      transform: scale(1.0, 1.0) translate(0, -3px)
    }
  }


.homebutton {

    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px hsla(0, 0%, 0%, .1);
    color: hsla(255, 255%, 255%, 1);
    text-align: center;
    background: rgba(218, 218, 218, 0.219);
    cursor: pointer;
    margin-right: 3%;
    margin-left: 3%;
    overflow: hidden;
  }